.hero {
    background: url(../../img/hero.png) no-repeat center / cover;
    width: 100%;
    height: 35rem;    
    position: relative;
}
@media (min-width: 768px) {
    .hero {
        height: 50rem;
    }
}
/* @media (min-width: 1024px) {
    .hero {
        height: 60rem;
    }
} */